<h1>商品一覧</h1>

<table class="table table-striped">
    <thead>
      <tr>
        <th>商品画像</th>
        <th>商品番号</th>
        <th>商品名</th>
        <th>単価</th>
        <th>カテゴリ</th>
        <th>色</th>
        <th class="span5">商品説明</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= image_tag item.img %></td>
        <td><%= item.no %></td>
        <td><%= item.name %></td>
        <td><%= item.price %>円</td>
        <td><%= item.category.name %></td>
        <td><%= item.color.name %></td>
        <td><%= item.explanation %></td>
        <td><%= link_to '詳細', item_path(item) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'トップページへ', top_path %>