<h1>NSN flower online shop</h1>

<%= image_tag 'ajisai_01.jpg' %>

<h2>Information</h2>
	
  <table class="table">
    <tbody>
      <% @information.each do |information| %>
      <tr>
        <td class="span3">　　<%= information.renew %></td>
        <td><%= information.info %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to '過去のインフォメーションを見る', top_information_path %>

<h2>オススメ商品</h2>
  <div>
   	<% @recommend.each do |item| %>
    	<%= image_tag item.img %>
    <% end %>
  </div>
  
  <%= link_to 'もっと商品を見る', top_item_path %>