<%= form_for(@item, :url => @url ) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :no %><br />
    <%= f.number_field :no %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.number_field :price, :value => number_with_precision(f.object.price,:precision => 0) %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br />
    <%= f.collection_select(:category_id, all_categories, :id, :name ,{ :include_blank => '選択してください'}) %>
  </div>
  <div class="field">
    <%= f.label :color_id %><br />
    <%= f.collection_select(:color_id, all_colors, :id, :name ,{ :include_blank => '選択してください'}) %>
  </div>
  <div class="field">
    <%= f.label :img %><br />
    <%= f.text_field :img %>
  </div>
  <div class="field">
    <%= f.label :explanation %><br />
    <%= f.text_area :explanation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
