<%= form_for(@information, :url => @url ) do |f| %>
  <% if @information.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@information.errors.count, "error") %> prohibited this information from being saved:</h2>

      <ul>
      <% @information.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :info %><br />
    <%= f.text_field :info %>
  </div>
  <div class="field">
    <%= f.label :renew %><br />
    <%= f.date_select :renew, :use_month_number => true, :strat_year => 2010 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
