<h1>インフォメーション一覧</h1>

<table class="table table-striped">
  <tr>
    <th>インフォメーション情報</th>
    <th>更新日</th>
    <th></th>
    <th></th>
  </tr>

<% @information.each do |information| %>
  <tr>
    <td><%= information.info %></td>
    <td><%= information.renew %></td>
    <td><%= link_to '編集', edit_manage_information_path(information) %></td>
    <td><%= link_to '削除', manage_information_path(information), method: :delete, data: { confirm: '本当に削除しますか?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'インフォメーション情報の追加', new_manage_information_path %>

<br />
<br />

<%= link_to '管理者トップページへ', manage_path %>