<h1>商品一覧</h1>


<h3>検索</h3>

<%= form_tag :search_items, method: :get do %>
<p>
<%= text_field_tag 'name', params[:name] %>
<%= submit_tag '検索' %>
</p>
<% end %>

<table>
  <tr>
    <th>商品番号</th>
    <th>商品名</th>
    <th>単価</th>
    <th>カテゴリ</th>
    <th>色</th>
    <th>商品説明</th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.no %></td>
    <td><%= item.name %></td>
    <td><%= item.price %></td>
    <td><%= item.category.name %></td>
    <td><%= item.color.name %></td>
    <td><%= item.explain %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '商品の追加', new_item_path %>

<br />
<br />

<%= link_to '管理者トップページへ', manage_path %>

